@media (max-width: 952px){
.mastdiv{
  background-image: url("icon1.jpg");
}
#dev{
  font-size: 1.25rem;
}
.cards_wrap .card_item .film{
  font-size: 1.2rem;
}
.about_cards_wrap .about_card_item .about_film{
  font-size: 1.2rem;
}
#head{
  font-size: 1.7em;
}
@media (max-width: 858px){
  .mastdiv{
  background-image: url("icon1.jpg");
}
#dev{
  font-size: 1.25rem;
}
#head1{
  margin-top: auto;
}
.cards_wrap .card_item .film{
  font-size: 1.2rem;
}
.about_cards_wrap .about_card_item .about_film{
  font-size: 1.2rem;
}
#head{
  font-size: 1.7em;
}
}
@media screen and (max-width: 1024px){
  .cards_wrap .card_item{
    width: 33%;
  }
  .about_cards_wrap .about_card_item{
    width: 33%;
  }
#head{
  font-size: 1.7em;
}
#head1{
  margin-top: auto;
}
}

@media screen and (max-width: 768px){
  .cards_wrap .card_item{
    width: 50%;
  }
  .wrapper1 .header{
    font-size: 2em;
    height: 60px;
  }
    .about_cards_wrap .about_card_item{
    width: 50%;
  }
  .about_wrapper1 .about_header{
    font-size: 2em;
    height: 60px;
  }
  #head{
  font-size: 1.7em;
}
}

@media screen and (max-width: 568px){
  .cards_wrap .card_item{
    width: 100%;
  }
  .wrapper1 .header{
    font-size: 2em;
  }
    .about_cards_wrap .about_card_item{
    width: 100%;
  }
  .about_wrapper1 .about_header{
    font-size: 2em;
  }
  #head{
  font-size: 1.7em;
}
}