@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');
*{
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}
.loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: #161616;
  justify-content: center;
  align-items: center;
}
.loader > img{
  width: 300px;
}
.loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut{
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
.nav1{
  font-size: 1.44em;
  color: #F8F9FA;
}
nav div ul li {
  margin-right: 10px;
}
nav div ul li:hover {
  color: #F8F9FA;
}
.mh{
  height: 150px;
  margin-top: 1.65em;
  margin-bottom: 1.2em;
  width: 150px;
  border-radius: 50%;
  border: solid 2px #343A40;
}
header{
  color: #F8F9FA;
}
.mastdiv{
  background-image: url("icon.jpeg");
  height:100vh;
  width: 100%;
  background-size: cover;
}
#head1{
  margin-top: 130px;
}
.H1{
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s 1;
}
#head{
  width: 0ch;
  position: relative;
  font-size: 2em;
  color: #F8F9FA;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  animation: text 6s infinite alternate;
}
@keyframes text{
  0%{
    width: 0ch;
  }
  50%{
    width: 25ch;
  }
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50 !important;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom  {
    color: #2c3e50 !important;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #F8F9FA;
  }
  .divider-custom.divider-light {
    color: #F8F9FA !important;
  }
  #dev{
    margin-left: 65px;
  }
  
  #aboutBg{
    background: #1a252f;
  }
  .about_wrapper1 .about_header{
  width: 100%;
  height: 100px;
  background: #1a252f;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}
.about_cards_wrap{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_cards_wrap .about_card_item{
  padding: 15px 25px;
  width: 25%;
}
#about_blue{
  color: #00f2ee;
}
.lang_link{
  color: #F8F9FA;
}
.lang_link:hover{
  color: #F8F9FA;
}
.about_cards_wrap .about_card_inner{
  background: #1a252f;
  border-radius: 5px;
  padding: 35px 20px;
  min-width: 225px;
  min-height: 315px;
  max-height: 370px;
  width: 100%;
}
.about_cards_wrap .about_card_item .about_role_name{
  color: #F8F9FA;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2em;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_cards_wrap .about_card_item .about_film{
  font-size: 18px;
  line-height: 24px;
  color: #F8F9FA;
}
#about_cardIcon{
  color: #F8F9FA;
  height: 50px;
  width: 50px;
  margin: auto;
}


.wrapper1 .header{
  width: 100%;
  height: 100px;
  background: #343A40;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}

.cards_wrap{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_wrap .card_item{
  padding: 15px 25px;
  width: 25%;
}

.cards_wrap .card_inner{
  background: #343A40;
  border-radius: 5px;
  padding: 35px 20px;
  min-width: 225px;
  min-height: 315px;
  max-height: 370px;
  width: 100%;
}
.card_inner{
 transition: .5s;
}
.card_inner:hover{
 transform: scale(1.1);
}

.cards_wrap .card_item .role_name{
  color: #F8F9FA;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 22px;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .film{
  font-size: 18px;
  line-height: 24px;
  color: #F8F9FA;
}
.card_link,.card_link:hover{
  color: #00f2ee;
}
#cardIcon{
  color: #F8F9FA;
  height: 50px;
  width: 50px;
  margin: auto;
}

figure {
    margin: 0 0 1rem;
  }
  #india{
    height: 30px;
    width: 27px;
  }
  #logo11{
    width: 36px;
    
    height: 28px;
  }  
.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #F8F9FA;
  }
  .copyright {
    background-color: #1a252f;
  }
  .getS,.getS:hover{
    color: #F8F9FA;
  }
  #project{
    height: 100%;
    width: 100%;
    background: #F8F9FA;
  }
    ::-webkit-scrollbar{
    width: 15px;
    background: grey;
  }
  ::-webkit-scrollbar-thumb{
   background:#343A40 ;
  }
